@media only screen and (max-width: 768px){
  #navspace{
    padding-right:6vw !important;

  }
  #navstyle{
    position:relative;
    top:3vw !important;
    left:-10vw !important;

  }
  #headerstyle{
    padding-bottom:-1.5vw !important;
  }
#dropmenu{
  margin-top:-0.17vw !important;

}
#dropmenuright{
  background-color:#2C3E50 !important;


}
#navright{
  position:relative;
  left:-6vw !important;
  top:3vw !important;
}


}
@media only screen and (max-width: 320px){
  #navstyle{
    position:relative;
    top:-3vw !important;
    left:3vw !important;
  }
}
@media only screen and (max-width: 540px){

  #navright{
    position:relative;
    top:2vw !important;
left:7vw !important;

  }
}
.iconcolor{
  color:white;
}
#headerstyle{
  background-color:#2C3E50 !important;
  padding-top:5.1vw;
  padding-bottom:-1vw;

}
#navright{
position:relative;
left:0.5vw;
bottom:4vw;
}
#navrightspace{
  padding-right:2vw;
}
#navstyle{
  position:relative;
  top:1.5vw;
  left:3.5vw;

}
#dropitem{
color:white;
text-align:center;

}
#dropitem:hover{
  background-color:#2C3E50;
  color:orange;
}
#dropmenu{
  background-color:#2C3E50;
}

.navitem{
  color:white !important;
  position:relative;
  left:2vw;
  right:2vw;
}
.navitem:focus{
  text-decoration:none;
  color:white;
}
#navspace{
  padding-right:10vw;
}
#logo{
  color:red;
  position:relative;
  bottom:3.6vw;
  left:3vw;
  font-size:2.5vw;
  font-family:serif;
  font-weight:bold;

}
