#mainmenu{

}
#sidemenu{

}
@media(max-width:768px){
  #mainmenu{
    display:none !important;
  }
  .navbar{
    height:30px !important;
  }

}
@media(min-width:1024px){
  .openslide{
    display:none !important;
  }
}

.navbar{
  background-color:#2C3E50;

  min-height:150px;
    overflow:hidden;
}
.navbar li{
  float:left;
  display:block;
  color:#ffffff;
  text-align: center;
  padding:14px 16px;
  text-decoration:none;
  font-size:1vw;
}

.navbar ul{
  padding:4px 0 0 0;
  list-style: none;
}
.iconcolor{
  color:white !important;
  text-decoration:none !important;
}

.downIcon{
  color:white;
}
.sidenav{
  height:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#2C3E50;
  opacity:0.9;
  padding-top:80px;
  overflow-x:hidden;
  transition:transform 5s ease;

}
.sidenav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:15px;
  color:#fff;
  display:block;
  transition:3s;
}
.sidenav a:hover{
  color:#fff;
}
.sidenav #btnclose{
  position:absolute;
  top:0;
  margin-left:27vw;
  font-size:36px;
  color:#fff;
}
#mainmenuicon{
float:right;

}
