#RowStyle{
  margin-top:1vw;
  margin-bottom:1vw;
}
.cardstyle{
margin-right:-1vw;
padding-left:10vw;
  height:14vw;
  box-shadow:-0.01px 3px 8px 0.1px gray;
}
.cardstyle1{
  height:20vw;
   background-color:#FFFFFF;
   border:none;
  box-shadow:-0.01px 3px 8px 0.1px 	gray;
}
#imgstyle{
  background-color:'red' !important;
}
